<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; border-radius: 15px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4 text-primary fw-bold">TechSolutions</h3>
      <p class="text-center text-muted">Inicia sesión para continuar</p>
      
      <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" [(ngModel)]="correo" name="correo" placeholder="nombre@empresa.com" required>
        </div>
        
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="••••••••" required>
        </div>
        
        <button type="submit" class="btn btn-primary w-100 py-2 mt-3 shadow-sm">Ingresar</button>
      </form>

      <div *ngIf="mensajeError" class="alert alert-danger mt-3 py-2 text-center small">
        {{ mensajeError }}
      </div>
    </div>
  </div>
</div>