/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
}

/* Mejora el aspecto de las tablas en todo el sistema */
table {
  background: white;
}